.address-line {
  margin-bottom: 6px;
}

.addresses-list.mdl-data-table {

  & td {
    vertical-align: top;

    &>div, &>a, &>span, &>button {
      line-height: 30px;
    }

    &>span.entity {
      white-space: pre-wrap;
    }

  }

  & td:nth-child(3) {
    overflow: hidden;
  }

}
