@import "../vendor/mdl/variables";

.highlighted {
  background-color: #ffffbc;
}

.button-bar {

  padding: $grid-desktop-margin 0px $grid-desktop-margin 0px;
  min-width: 1200px;

  > button {
    margin-right: $grid-desktop-margin;
  }

  > button:last-child {
    float: right;
    margin-right: 0px;
  }

}

.mdl-layout__content.center {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.voffset32 {
  margin-top: 32px;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.mdl-snackbar {
  &.info-message {
    background-color: unquote("rgb(#{$palette-green-300})");
  }

  &.error-message {
    background-color: unquote("rgb(#{$palette-red-400})");
  }

  & .mdl-snackbar__action {
    color: unquote("rgb(#{$color-white})");
  }
}

.mdl-tooltip {
  max-width: none !important;
}