<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.pi.common.log.GoogleCloudLoggingV2Layout"/>
        </encoder>
    </appender>

    <!-- Silence noisy loggers -->
    <logger name="com.pi.common.util.process.ThreadHelper" level="WARN"/>
    <logger name="io.grpc" level="WARN"/>
    <logger name="com.zaxxer" level="WARN"/>

    <root>
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
